{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div>

{{form_row(form.nom)}}
{{form_row(form.prenom)}}
{{form_row(form.adresse)}}
{{form_row(form.codepostal)}}
{{form_row(form.ville)}}
{{form_row(form.tel)}}
{{form_row(form.mail)}}
{{form_row(form.mdp)}}

<button type="submit">Valider</button>
</div>
{% endblock %}
