{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<div classe="p1">
    <h1> Inscription </h1>
    <h3>Veuillez fournir les informations demandés ! </h3>
    <div class="formUser">
        {{ form_start(form) }}
        {{form_label(form.nom)}}
        {{form_widget(form.nom) }}
        {{form_label(form.prenom)}}
        {{form_label(form.prenom)}}
        {{form_label(form.adresse)}}
        {{form_label(form.adresse)}}
        {{form_label(form.codepostal)}}
        {{form_label(form.codepostal)}}
        {{form_label(form.ville)}}
        {{form_label(form.ville)}}
        {{form_label(form.tel)}}
        {{form_label(form.tel)}}
        {{form_label(form.mail)}}
        {{form_label(form.mail)}}
        {{form_label(form.mdp)}}
        {{form_label(form.mdp)}}
        <button type="submit" class="btn btn-warning">Valider</button>
    </div>
</div>


{{ form_end(form) }}
{% endblock %}