{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div id="p1">
    <h1> Inscription Client </h1>
    <div class="container">
        <div class="row">
    {{ form_start(form) }}
{{form_row(form.Name) }}
{{form_row(form.Firstname) }}
{{form_row(form.Mail) }}
{{form_row(form.Password) }}
{{form_row(form.Picture) }}

<button type="button" class="btn btn-warning">Valider</button>
</div>
    </div></div>
{% endblock %}