{% extends 'adminBase.html.twig' %}

{% block title %}

{% if user.id != null %}
Edit User
{% else %}
New User
{% endif %}

{% endblock %}

{% block body %}
<h1>
	{% if user.id != null %}
	Modifier un utilisateur
	{% else %}
	Créer un nouvel utilisateur
	{% endif %}
</h1>

<a class="btn btn-info" href="{{ path('users') }}">Retour</a>

<div class="row mt-3 mb-3">

	<div id="center" class="col-md-9 offset-md-1">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button class="btn btn-info">{{ button_label|default('Enregistrer') }}</button>
		{{ form_end(form) }}
	</div>

</div>
{% endblock %}