{% extends 'base.html.twig' %}

{% set rechercherIndexUrl = path('rechercher_index') %}

{% block title %}Annuaire de l'Aude{% endblock %}

{% block body %}



<div id="p1">
    {#
    <div class="col-md-12">
        <div id="js" onclick="display()" style="visibility: hidden"></div>
    </div>
    #}
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12 headmi">

                <span class="respmod">ANNUAIRE PROFESSIONNEL<br>
                    Trouvez un artisan proche de chez vous !<br></span>

                <div class="form-group">

                    {{ form_start(search_form) }}
                    {{ form_end(search_form) }}

                </div>

            </div>
        </div>
    </div>
</div>

<div id="p2">

    <div class="container-fluid">
        <div class="row">
            <div class="card-deck">
                <div class="card">
                    <img src="./img/cci1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="{{ path('rechercher_batiment') }}">
                            <h5 class="card-title">Bâtiment</h5>
                        </a>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="./img/beauté.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="{{ path('rechercher_beaute') }}">
                            <h5 class="card-title">Beauté</h5>
                        </a>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="./img/cci3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="{{ path('rechercher_restauration') }}">
                            <h5 class="card-title">Restauration</h5>
                        </a>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="./img/santé.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="{{ path('rechercher_sante') }}">
                            <h5 class="card-title">Santé</h5>
                        </a>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card-deck">
                <div class="card">
                    <img src="./img/serviceperso.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="{{ path('rechercher_serviceperso') }}">
                            <h5 class="card-title">Service à la personne</h5>
                        </a>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="./img/sevicepro.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="{{ path('rechercher_servicepro') }}">
                            <h5 class="card-title">Service aux professionnels</h5>
                        </a>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="./img/sport.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="{{ path('rechercher_sport') }}">
                            <h5 class="card-title">Sport</h5>
                        </a>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="./img/cci3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="{{ path('rechercher_association') }}">
                            <h5 class="card-title">Association</h5>
                        </a>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="p3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 servl"></div>
            <div class="col-sm-8 servr">

                <div class="servbloc">
                    <div class="servblocicon">
                        <i class='lni lni-eye bigicon'></i>
                        <br>
                        VISIBILITÉ
                    </div>
                    <div class="servdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore.
                    </div>
                </div>
                <br>

                <div class="servbloc">
                    <div class="servblocicon">
                        <i class='lni lni-thumbs-up bigicon'></i>
                        <br>
                        PRATIQUE
                    </div>
                    <div class="servdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore.
                    </div>
                </div>
                <br>

                <div class="servbloc">
                    <div class="servblocicon">
                        <i class='lni lni-notepad bigicon'></i>
                        <br>
                        ACTUS
                    </div>
                    <div class="servdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore.
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="p4">


    <div class="row" style="margin:0">
        <div class="col-sm-4 actulist">

            <ul class="list-unstyled">
                <li class="media">
                    <img src="./img/actus.png" class="mr-3 imgactussize" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Dernière Norme</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                        sollicitudin.
                        <b>Consulter</b>
                    </div>
                </li>
                <li class="media my-4">
                    <img src="./img/actus.png" class="mr-3 imgactussize" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Dernière Norme</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                        sollicitudin.
                        <b>Consulter</b>
                    </div>
                </li>
                <li class="media">
                    <img src="./img/actus.png" class="mr-3 imgactussize" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Dernière Norme</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                        sollicitudin.
                        <b>Consulter</b>
                    </div>
                </li>
                <li class="media">
                    <img src="./img/actus.png" class="mr-3 imgactussize" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Dernière Norme</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                        sollicitudin.
                        <b>Consulter</b>
                    </div>
                </li>
            </ul>

        </div>
        <div class="col-sm-4 actulist">

            <ul class="list-unstyled">
                <li class="media">
                    <img src="./img/actus.png" class="mr-3 imgactussize" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Dernière Norme</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                        sollicitudin.
                        <b>Consulter</b>
                    </div>
                </li>
                <li class="media my-4">
                    <img src="./img/actus.png" class="mr-3 imgactussize" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Dernière Norme</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                        sollicitudin.
                        <b>Consulter</b>
                    </div>
                </li>
                <li class="media">
                    <img src="./img/actus.png" class="mr-3 imgactussize" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Dernière Norme</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                        sollicitudin.
                        <b>Consulter</b>
                    </div>
                </li>
                <li class="media">
                    <img src="./img/actus.png" class="mr-3 imgactussize" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Dernière Norme</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                        sollicitudin.
                        <b>Consulter</b>
                    </div>
                </li>
            </ul>

        </div>
        <div class="col-sm-4 actusnormes"></div>

    </div>

</div>
{#
<script src="js/geo.js"></script>
#}
{% endblock %}